importFrom("stats", "rgeom","rnorm", "predict")
importFrom("utils", "head","tail", "type.convert")
importFrom("polynom", "polynomial","is.polynomial")
importFrom("MTS", "VARMAsim","VARMA")

export("polyMgen","polyMgen.a","polyMgen.b","polyMgen.c","polyMgen.d","polyMgen.varma",
       "polyMconvert",
       "pMdiag",
       "pMstr",
       "coefs","const","degree","lead","diag","tr",
       "predict.polynomial",
       "predict.polyMatrix",
       "pMrow", "pMcol", "pMbas", "pMsub",
       "pMsgn",
       "pMadj", "pMdet",
       "charpn",
       "pMkmm",
       "pMprod","pVsk",
       "pn2ch", "ch2pn", "pprt",
       "cycFill",
       "colMax","rowMax","colMin","rowMin",
       "ssetNext", "permNext", "permSign",
       "M2pM","pM2M",
       "t.polyMatrix","tr",
       "polyMul",
       "CanForm",
       "proper",
       "is.polyMatrix",
       "%x%",
	   "MTS2pM")

S3method("diag","list")

S3method("charpn","matrix")
S3method("tr","matrix")

S3method("coefs","polynomial")
S3method("const","polynomial")
S3method("degree","polynomial")
S3method("lead","polynomial")
S3method("predict","polynomial")

S3method("charpn","polyMatrix")
S3method("const","polyMatrix")
S3method("coefs","polyMatrix")
S3method("degree","polyMatrix")
S3method("diag","polyMatrix")
S3method("dim","polyMatrix")
S3method("lead","polyMatrix")
S3method("Ops","polyMatrix")
S3method("predict","polyMatrix")
S3method("print","polyMatrix")
S3method("print","pMvarma")
S3method("tr","polyMatrix")

S3method("predict","charpn")


# ----
# fine
